<h1>
    Users
</h1>

{{#each users}}
<div style="padding-left: 5%;">
    <h3>
        {{name}}
    </h3>
    <ul>
        <li>Firstname: {{firstName}}</li>
        <li>Lastname: {{lastName}} </li>
        <li>Email: {{email}}</li>
        <li>Password: {{password}}</li>
        <li>Status: {{status}}</li>
    </ul>
</div>
{{/each}}